#clock {
  width: 630px;
  height: 500px;
  background-color: lightgray;
  margin: 40px auto;
  font-size: 30px;
  text-align: right;
  line-height: 100px;
  border-radius: 10px;
}

#clock div {
  padding-right: 5px;
}

#date {
  height: 100px;
  background-color: rgb(223, 116, 45);
  border-radius: 10px 10px 0 0;
  color: white;
}

#hours {
  height: 100px;
  background-color: rgb(13, 168, 155);
  color: white;
}

#minutes {
  height: 100px;
  background-color: maroon;
  color: white;
}

#seconds {
  height: 100px;
  background-color: rgb(85, 13, 168);
  color: white;
  -webkit-transition-property: width transform -webkit-transform width;
  -webkit-transition-duration: 0.1s;
  -webkit-transition-timing-function: ease-in-out;
  transition-property: width transform -webkit-transformv width;
  transition-duration: 0.1s;
  transition-timing-function: ease-in-out;
}

#millis {
  height: 100px;
  background-color: rgb(30, 0, 139);
  border-radius: 0 0 10px 10px;
}

h5 {
  text-align: right;
  margin-top: 100px;
  margin-right: 10%;
}